@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    height: 100%;
}

.btn {
    @apply py-2 px-6 rounded;
}

.btn-primary {
    background-color: #8E44AD;
    color: #FFFFFF
}

.text-primary {
    color: #8E44AD;
}

.border-primary{
    border: 2px solid #8E44AD;
}